* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    margin-top: 0px;
    margin-right: 0;
    margin-left: 0px;
    margin-bottom: 0px;
}

.v2_2 {
    width: 100%;
    height: 789px;
    background: rgba(233, 233, 233, 1);
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.nav {
    width: 100%;
    height: 80px;
    background: rgba(217, 241, 255, 1);
    box-shadow: 0px 1px 10px black;
}

.titulo {
    width: 253px;
    position: absolute;
    top: 13px;
    left: 88px;
    font-family: New Rocker;
    font-size: 35px;
    text-decoration: none;
    color: black;
}

.estudos {
    width: 167px;
    position: relative;
    top: 25px;
    left: 464px;
    font-family: New Rocker;
    font-size: 20px;
    text-align: left;
    text-decoration: none;
    color: black;
}

.trabalhos {
    width: 203px;
    position: relative;
    top: 25px;
    left: 620px;
    font-family: New Rocker;
    font-size: 20px;
    text-align: left;
}

.contato {
    width: 183px;
    position: relative;
    top: 25px;
    left: 768px;
    font-family: New Rocker;
    font-size: 20px;
    text-align: left;
}

.perfil {
    width: 70px;
    height: 70px;
    background: rgba(217, 217, 217, 1);
    position: absolute;
    top: 5px;
    left: 1330px;
    border-radius: 50%;
}

.titulo_texto {
    width: 121px;
    position: absolute;
    top: 232px;
    left: 570px;
    font-family: monospace;
    font-size: 25px;
    text-align: left;
}

.info {
    width: 760px;
    position: absolute;
    top: 280px;
    left: 572px;
    font-family: monospace;
    font-size: 15px;
    text-align: left;
}

.foto {
    width: 400px;
    height: 320px;
    background-image: url("../img/IMG_0452.JPG");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 190px;
    left: 87px;
    overflow: hidden;
    border-radius: 2%;
    box-shadow: 0px 1px 3px black;
}

.footer {
    background: rgba(217, 217, 217, 1);
    position: absolute;
    top: 656px;
    overflow: hidden;
    display: flex;
    width: 1450px;
    height: 150px;
    box-shadow: 0px 1px 10px black;
}

.git {
    color: rgba(0, 0, 0, 1);
    font-family: monospace;
    font-size: 14px;
    position: relative;
    top: 15px;
    text-decoration: none;
}

.linkedin {
    color: rgba(0, 0, 0, 1);
    font-family: monospace;
    font-size: 14px;
    position: relative;
    top: 30px;
    text-decoration: none;
}

.links {
    padding-left: 40px;
}
.tittle {
    padding-left: 230px;
}
.redes{
    padding-left: 95px;
}

.twitterimg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url("http://assets.stickpng.com/images/580b57fcd9996e24bc43c53e.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 15px;
    position: relative;
    top: 10px;
}

.instaimg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url("https://www.pngmart.com/files/13/Instagram-Logo-PNG-Free-Download-1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 15px;
    position: relative;
    top: 22px;

}

.tiktokimg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url("https://cliply.co/wp-content/uploads/2021/02/372102690_TIKTOK_LOGO_1080.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 15px;
    position: relative;
    top: 32px;

}

.twitter {
    font-family: monospace;
    font-size: 15px;
    margin-top: 15px;
    position: absolute;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.insta {
    font-family: monospace;
    font-size: 15px;
    margin-top: 57px;
    position: absolute;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.tiktok {
    font-family: monospace;
    font-size: 15px;
    margin-top: 100px;
    position: absolute;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}